<div class="post">
	<div class="photo left">
		<%= gravatar_for(post.user, 50)%>
	</div>
	<div class="right">
		<div class="name">
			<%= post.user.name %>
		</div>
		<div class="time">
			<%= time_ago_in_words(post.created_at) unless post.created_at.blank? %>
		</div>	
	</div>
	<div class="content">
		<%= post.content %>
	</div>
	<div class="likes">
		<%= link_to pluralize(post.likes.count, 'like'), '#' %>
		<%= link_to pluralize(post.comments.count, 'comment' ), '#' %>
	</div>
	<div class="like-buttons">
		<%= render 'posts/like_form', post: post %>
		<%= render 'posts/comment_form', post: post %>
	</div>
</div>